*{
    text-decoration: none;
    color: #fff;
    margin: 0;
}

@font-face {
    font-family: 'Brygada';
    src: url(Brygada1918-VariableFont_wght.ttf) format("truetype");
}

body{
    
    border: 0;
    background-color: #556939;
}


header {
    padding: 1.5em;
    background: linear-gradient(#404e2b, #556939);
    color: #fff;
    height: auto;
}

.logo{
    font-weight: bold;
    font-size: 150%;
}

nav{
    display: flex;
    
}

.wrap_a{
    margin-left: 4em;
}

a{
    font-size: large;
}

.underline{
    background-color: white;
    height: 2px;
    width: 100%;
}

.header_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3%;
    padding-right: 10%;
}

.start_wrapper{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    font-family: Brygada;
}

.start_title{
    position: absolute;
    top: 10%;
    left: 10%;
    width: 40%;
    height: auto;
    font-size: 700%;
}

.under_title{
    margin-top: 20px;
    font-size: large;
}

.start_button{
    margin-top: 30px;
    width: 40%;
    height: 50px;
    background-color: #49482a;
    border-radius: 20pt;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img{
    margin-right: 60px;
}

.oval_decor{
    position: absolute;
    z-index: -3;
    right: 15%;
    top: 40%;
    height: 100px;
    width: 500px;
    border-radius: 100%;
    background-color: #c0a83f;
    border: 200px;
    box-shadow: 0px 0px 90px 100px #c0a83f;
}

.content_wrapper{
    background-color: #608096;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame{
    margin: 30px;
    top: 20%;
    height: 20%;
    width: 20%;
    border-radius: 10pt;
    border: 2px solid #2b5774;
}




footer {
    margin-top: 300px;
    background-color: #504f30;
    bottom: 0;
    margin: 0;
    width: 100%;
    min-height: 10em; 
    font-size: 14px;
    color: #fafaff;
    display:flow-root;
}

.footer{
    margin: 20px;
}